html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}
/* standardizing the header text size and aligning to center */
h1 {
  font-size: 60px;
  text-align: center;
}
/* standardizing the paragraph and list text size and aligning to left */
p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
/* making the site background color blue*/
html {
  background-color: #35B0F2;
}
/* styling the body */
body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
/* styling the main text page */
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}
/* centering the image */
img {
  display: block;
  margin: 0 auto;
}
/* making the pull quotes red */
.quote: {
  color: red;
}
#mainquote: {
  color: red;
}